body {
	background: linear-gradient(-45deg, #ffde59, #199ef6, #ffde59, #199ef6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.form {
    background-color: rgba(3, 3, 3, 0.596);
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}

.form .grupo {
    position: relative;
    margin: 40px;

}

.input {
    background: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}

.label {
    font-size: 16px;
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.input:focus {
    outline: none;
    color: #fff;
}

.input:focus~.label, 
.input:valid~.label{
    top: -14px;
    font-size:  14px;
    color: #199ef6;
}

.title {
    text-align: center;
    font-weight: 700px;
    color: #fff;
}

.form2 {
    width: 100%;
    margin: auto;
}

.button {
    border: none;
    display: block;
    margin: 10px auto;
    width: 50%;
    cursor: pointer; 
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #199ef6 15%, #ffde59 24%, #ffde59 75%, #199ef6 80%);
}

























input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
input {
    outline: none;
}