@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --blue: #199ef6;
    --amarelo: #ffde59;
}

.tela-principal{
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 1;
    transition: 0.3s;
    visibility: visible;
    transform: scale(1);
}
.tela-principal.hide{
    transition: 0.3s;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}
.tela-sobre::-webkit-scrollbar {
    display: none;
}
.tela-sobre{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.5);
}
.sobre{
    height: 96vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: center;
}
div.caixa-status{
    display: flex;
}
img.icons{
    width: 20px;
    margin: 0.3em 0.6em;
}
p.skill{
    margin: 0.4em 1em;
    transition: 0.5s;
    color: #199ef6;
}
section.perfil-id{
    margin: 2vw 2vw;
    width: 270px;
    height: 500px;
    box-sizing: border-box;
    background-color: var(--blue);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.perfil-id a{
    text-decoration: none;
    color: var(--amarelo);
    transition: 0.5s;
}
p.skill:hover a{
    color: black;
    transform: scale(2);
}
article.img-box{
    display: flex;
    justify-content: center;
}

img.profile{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
article.name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article.name h2{
    margin: 0;
    margin-top: 13px;
}
div.caixa-icons{
    display: flex;
    flex-direction: column;
}


.btn {
    border: 0;
    border-radius: 15px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    width: 100px;
    height: 30px;
    position: absolute;
    margin: 1vh; 
    background: var(--blue);
    transition: 1s;
}

.btn:hover {
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 50px 20px #199ef6b7;
}



@keyframes botao {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@media (min-width: 2000px) {
    section.perfil-id{
        margin: 2vw 2vw;
        width: 500px;
        height: 850px;
        box-sizing: border-box;
        background-color: var(--blue);
        color: rgb(255, 255, 255);
        border-radius: 10px;
    }
    .btn {
        border: 0;
        border-radius: 15px;
        color: white;
        font-weight: 400;
        cursor: pointer;
        width: 100px;
        height: 30px;
        position: absolute;
        margin: 1vh; 
        background: var(--blue);
        transition: 1s;
    }
    section.perfil-id h2{
        font-size: 40px;
    }
    section.perfil-id p{
        font-size: 25px;
    }
    section.perfil-id img.icons{
        width: 35px;
        margin: 0.45em 0.6em;
    }
    .btn {
        border: 0;
        border-radius: 35px;
        color: white;
        font-weight: 400;
        cursor: pointer;
        width: 300px;
        height: 60px;
        position: absolute;
        margin: 1vh; 
        background: var(--blue);
        transition: 1s;
        font-size: 25px;
    }
}