body{
    margin: 0;
}
#rodape {
    width: 100%;
    bottom: 0;
    height: 7vh;
    background-color: #199ef6;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

#rodape p {
    text-align: center;
    font-size: 0.8rem;
    color: white;
}