body{
    margin: 0;
}
#rodape {
    width: 100%;
    bottom: 0;
    height: 7vh;
    background-color: #199ef6;
    position: fixed;
    bottom: 0;
}

#rodape p {
    padding: 12px;
    font-size: 0.8rem;
    color: white;
}