.ul-logo {
    margin: 0;
    text-align: center;
    padding: 0;
}

#header {
    width: 100%;
    position: fixed;
    background-color: #ffde59;
    z-index: 1;
    height: 12vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.616);
    z-index: 2;
}

.logo {
    width: 105px;
    height: 100px;
}
